<div class = "col-10 offset-1 about">
  <h1>About Splurty</h1>


  <p>
    Splurty was build by <a target = "_blank" href= "https://github.com/SleepyLoki">Enrique</a>. A web developer and game designer who is on a mission to provide users with an optimal experience on various products.
  </p>
  <br />
  <p>
    Having collaborated with fellow designers and developers, Enrique has brought many game ideas to reality.
  </p>
  <p>
    If you want to check out his portfolio - visit <a target = "_blank" href = "https://enriquecerna.netlify.com/"> here</a>.
  </p>



  <div class = "row">
    <div class = "col-12 col-sm-4">
      <%= image_tag 'enrique.jpg', class: 'img-fluid' %>
    </div>
    <div class = "col-12 col-sm-7 offset-sm-1">
      <h2 class = "text-center">Enrique Cerna</h2>
      <br />
      <p>
        Enrique Cerna is a web developer and game designer.
      </p>
    </div>
  </div>
</div>

<br class ="clear" />
<br />
<br />
<br />
<br />